

.card__content {
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.card__content img {
  width: 85%;
  height: 11rem;
  border-radius: 5px;
}

.videoData h3 {
  font-size: 16px;
  font-family: shabnam;
  font-weight: 600;
  color: #02576e;
}

.btns {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

/* cards  */
.card {
  box-sizing: border-box;
  width: 290px;
  height: 354px;
  margin: 0 2rem 4rem 2rem;
  background: rgba(217, 217, 217, 0.53);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}



/* button  */
.btn {
  font-size: 0.9rem;
  font-family: shabnam;
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #02576e;
  color: rgb(234, 234, 234);
  font-weight: 500;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.15));
}

.btn img{
  padding-top: 2px;
  padding-bottom: -1px;
  width: 1.2rem;
  height: 0.8rem;
  color:#fff
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}