
.card__content {
  display: flex;
  justify-content: center;
}


.card__content img {
  width: 90%;
  height: 12rem;
  border-radius: 5px;
}

/* cards  */
.card {
    width: 250px;
    height: 324px;
    margin: 2rem 1rem;
    background-color: #d8d5d5;
    border-radius: 8px;
    z-index: 1;
  }
  
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }
  
  .circle {
    padding: 0 4px;
  }
  
  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }
  
  .red {
    background-color: #ff605c;
  }
  
  .yellow {
    background-color: #ffbd44;
  }
  
  .green {
    background-color: #00ca4e;
  }
  