
.Container {
    height: 65rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -77vh 0 -5rem 0;
    font-family: shabnam;
    background-image: url('../../media/pictures/AIgeneratedPics/dental1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.writingsContainer {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 23px;
    font-weight: 400;
    color: #fff;
}

h1[lang="fa"] { direction: rtl; text-align: justify; }

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: #59B4C9;
    border-radius:10px;
    padding: 2rem;
}

.nameNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nameNumber div {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h3 {
    font-family: vazir;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
}

.nameNumber input {
        width: 14rem;
        height: 2rem;
        border-radius: 10px;
        padding: 3px 6px;
          margin-top: 5px;
}


.description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1.5rem;
  }
  
  .input {
    width: 14rem;
    height: 20rem;
    border-radius: 10px;
    padding: 3px 6px;
    margin-top: 5px;
    text-align: right;
    vertical-align: text-top;
    resize: none;
    line-height: 1.5;
  }
  
  .input::placeholder {
    display: flex;
    vertical-align: text-top;
    text-align: right;
    padding-right: 10px;
  }

  .picUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  
  .picUpload h3 {
    margin-bottom: 10px;
  }
  
  .fileInput {
    display: none; /* Hide the default file input appearance */
  }
  
  .customFileInput {
    display: inline-block;
    padding: 10px 20px;
    background-color: #67838b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .customFileInput:hover {
    background-color: #4397A3;
  }
  
  .customFileInput:focus {
    outline: none;
  }
  
  .customFileInput::file-selector-button {
    display: none;
  }

  .confirm {
    margin-top: 2rem;
  }

  .confirm button{
    padding:1px;
    font-family: vazir;
    font-size: 14px;
    font-weight:100;
    width: 4rem;
    height: 1.8rem;
    border-radius: 5px;
    border: none;
  }


@media only screen and (min-width: 950px) {

    .Container {
        height: 55rem;
        margin: 0 0 -5rem 0;
    }

    .Form {
        padding: 2rem;
        width: 45%;
    }

    .nameNumber {
        width: 75%;
        padding: 0;
    }

    .input {
      padding: 0;
    }
  }

  @media only screen and (min-width: 1050px) {

    .Form {
      width: 40rem;
      margin-top: -25vh;
    }

      h1{
        font-size: 26px;
      }

      .nameNumber {
        width: 100%;
        justify-content: center;
        flex-direction: row;
      }

      .nameNumber div {
        margin: 1.2rem 0.5rem;
      }

      .nameNumber div input {
        width: 13rem;
      }

      .description {
        margin-top: -0.5rem;
      }

      .description input {
        width: 28.5rem;
        height: 10rem;
      }
  }
