.Container {
    display: flex;
    flex-direction: column-reverse;
    width: 85%;
    height: 44rem;
    margin-top: 14rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* responsiveness by height  */
@media only screen and (min-height: 380px) {
    .Container {
        margin-top: 10rem;
    }
}

@media only screen and (min-height: 470px) {
    .Container {
        margin-top: 6rem;
    }
}

@media only screen and (min-height: 540px) {
    .Container {
        margin-top: 4   rem;
    }
}

@media only screen and (min-height: 670px) {
    .Container {
        margin-top: -40%;
    }
}

@media only screen and (min-height: 780px) {
    .Container {
        margin-top: -53%;
    }
}

@media only screen and (min-height: 900px) {
    .Container {
        margin-top: -58%;
    }
}
    
.picsContainer {
    width: 95%;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.picsContainer img {
    width: 270px;
    height: 270px;
    margin-top: -245px;
    margin-left: 2.4rem; 
    border-radius: 5%;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.3);
 }

.backPic {
    border-radius: 5%;
    width: 270px;
    height: 270px;
    margin-right: 1rem;
    background-color: #D9D9D9 ;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.textsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 190px;
}

h1[lang="fa"] { direction: rtl; text-align: justify; }

p[lang="fa"] { direction: rtl; text-align: justify; }

.textsContainer h1 {
    padding: 0 2rem;
    font-size: 20px;
    font-family: shabnam;
    font-weight: 300;
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    color: #0B4E5F;
}

.h1 {
    display: flex;
    text-align: center;
}

.textsContainer p {
    font-size: 15px;
    padding: 0 2rem;
    font-family: shabnam;
    font-weight: 300;
    color: #14272C;
    display: flex;
    text-align: center;
}

.callData {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.callData p{
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.callData a{
    margin: 3px;
    font-family: shabnam;
    color: #00B8DF;
    font-weight: 600;
}

.DoctorDirectCall {
    margin-top: 1rem;
    border-bottom: 3px solid #00B8DF;
}

.DoctorDirectCall p {
    padding: 0 0;
    font-weight: 600;
    font-size: 18px;
    color:#00B8DF;
}

/*responsiveness for diffrent width and height for 320px width*/
@media only screen and (min-width: 320px) {
    .Container {
        margin-top: 8rem;
    }
}

@media only screen and (min-width: 320px) and (min-height: 480px) {
        .Container {
            margin-top: 4.7rem;
        }
    }

@media only screen and (min-width: 320px) and (min-height: 540px) {
        .Container {
            margin-top: 2.8rem;
        }
    }
@media only screen and (min-width: 320px) and (min-height: 600px) {
        .Container {
            margin-top: -3%;
        }
    }
@media only screen and (min-width: 320px) and (min-height: 670px) {
        .Container {
            margin-top: -18%;
        }
    }

@media only screen and (min-width: 320px) and (min-height: 750px) {
        .Container {
            margin-top: -37%;
        }
    }

@media only screen and (min-width: 320px) and (min-height: 800px) {
        .Container {
            margin-top: -47%;
        }
    }

@media only screen and (min-width: 320px) and (min-height: 850px) {
        .Container {
            margin-top: -57%;
        }
    }

@media only screen and (min-width: 320px) and (min-height: 900px) {
        .Container {
            margin-top: -60%;
        }
    }


/*responsiveness for diffrent width and height for 520px width*/
@media only screen and (min-width: 520px) {
    .Container {
        margin-top: -1rem;
    }
}

@media only screen and (min-width: 520px) and (min-height: 700px) {
    .Container {
        margin-top: -26.5%;
    }
}

@media only screen and (min-width: 520px) and (min-height: 820px) {
    .Container {
        margin-top:-43%;
    }
}

@media only screen and (min-width: 520px) and (min-height: 920px) {
    .Container {
        margin-top:-57%;
    }
}

@media only screen and (min-width: 520px) and (min-height: 1000px) {
    .Container {
        margin-top:-70%;
    }
}



@media only screen and (min-width: 570px) {
    .Container {
            /* margin-top: -4vh; */
            width: 100%;
    }

    .textsContainer {
        box-sizing: border-box;
        margin-top: 1.5rem;
    }

}

@media only screen and (min-width: 760px) {
    .Container {
        margin-top:-58%;
    }
}




@media only screen and (min-width: 950px) {

    .Container {
            margin-top: 7vh;
    }

    .textsContainer h1 {
        font-size: 34px;
    }

    .picsContainer img {
        width: 340px;
        height: 340px;
        margin-top: -315px;
    }

    .backPic {
        width: 340px;
        height: 340px;
    }
}


@media only screen and (min-width: 1100px) {

    .textsContainer {
        width: 750px;
        height: 430px;
        margin-right: 2rem;
    }

    .textsContainer p {
        font-size: 20px;
    }

    .Container {
        display: flex;
        flex-direction:row-reverse;
        width: 85%;
        height: auto;
        justify-content: space-between;
        margin-top:4rem ;
    }

    .callData {
        width: 20rem;
    }

    .callData p{
        font-weight: 600;
        font-size: 20px;
    }

    .DoctorDirectCall p {
        font-size: 21px;
    }



}