.Container {
    display: flex;
    flex-direction: column-reverse;
    width: 85%;
    height: 47rem;
    margin-top: -10%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media only screen and (min-height: 780px) {
    .Container {
        margin-top: -38%;
    }
}

@media only screen and (min-height: 950px) {
    .Container {
        margin-top: -55%;
    }
}

.picsContainer {
    width: 370px;
    height: 400px;
    box-sizing: border-box;
}

.picsContainer img {
    width: 340px;
    height: 340px;
    margin-top: -320px;
    margin-left: 28px; 
    border-radius: 5%;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.3);
 }

.backPic {
    border-radius: 5%;
    width: 340px;
    height: 340px;
    background-color: #D9D9D9 ;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.textsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 190px;
}

h1[lang="fa"] { direction: rtl; text-align: justify; }

p[lang="fa"] { direction: rtl; text-align: justify; }

.textsContainer h1 {
    font-size: 35px;
    font-family: shabnam;
    font-weight: 300;
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    color: #0B4E5F;
}

.textsContainer p {
    font-size: 15px;
    font-family: shabnam;
    font-weight: 300;
    color: #14272C;
    display: flex;
    text-align: center;
}

.callData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.callData p{
    font-weight: 600;
}

.DoctorDirectCall {
    margin-top: 0.5rem;
    border-bottom: 3px solid #00B8DF;
}

.DoctorDirectCall p {
    font-weight: 600;
    color:#00B8DF;
}



@media only screen and (min-width: 570px) {
    .Container {
            /* margin-top: -4vh; */
            width: 100%;
    }

    .textsContainer {
        box-sizing: border-box;
    }

}


@media only screen and (min-width: 950px) {
    .Container {
            margin-top: 7vh;
    }
}


@media only screen and (min-width: 1100px) {

    .textsContainer {
        width: 750px;
        height: 430px;
        margin-right: 2rem;
    }

    .textsContainer h1 {
        font-size: 48px;
    }

    .textsContainer p {
        font-size: 20px;
    }

    .Container {
        display: flex;
        flex-direction:row-reverse;
        width: 85%;
        height: auto;
        justify-content: space-between;
        margin-top:4rem ;
    }

    .callData {
        width: 20rem;
    }

    .callData p{
        font-weight: 600;
        font-size: 20px;
    }

    .DoctorDirectCall p {
        font-size: 21px;
    }



}