.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-top: 5rem;
}

.instaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.iphone{
    width: 26rem;
    z-index: 5;
}

.iphoneInsta {
    z-index: 0;
    width: 11.4rem;
    height: 23.7rem;
    margin-top: -25.3rem;
    border-radius: 5%;
}

.ipad {
    display: none;
}

.ipadInsta {
    display: none;
}

.instagramLogo {
    width: 10rem;
}

.container a{
    z-index: 10;
}

.locationContainer {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 28rem;
}

.locationContainer iframe {
    width:380px;
    border-radius: 10px;
}

.locationContainer a {
    font-family: shabnam;
    display: inline-block;
    font-size: 15px;
    margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #00B8DF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius:10px;
  cursor: pointer;
}





@media only screen and (min-width: 950px) {

    .container {
        margin: 5rem 3% 0 3%;
    }

    .iphone{
        display: none;
    }
    
    .iphoneInsta {
        display: none;
    }
    
    .ipad {
        display: flex;
        width: 28rem;
        transform:rotate(90deg);
    }
    
    .ipadInsta {
        display: flex;
        width: 33rem;
        margin-left: 2rem;
        margin-top: -30.5rem;
        height: 23.5rem;
    }

    .instagramLogo {
        width: 13rem;
    }

    .locationContainer {

    }

    .locationContainer iframe {
        width:500px;
        height: 400px;
    }
}


@media only screen and (min-width: 1300px) {

    .container {
        flex-direction: row;
        justify-content: space-around;
        padding: 0 2rem;
    }

}